# Dependencies
node_modules/
package-lock.json

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build & Temporary Files
dist/
build/
*.log
scratch/
.system_generated/
